<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="GroupName" value="LoggingSchedulerGroup"/>
    <add key="JobName" value="LoggingSchedulerJob"/>
    <add key="TriggerName" value="LoggingSchedulerTrigger"/>
    <add key="Schedule" value="0 0/10 * 1/1 * ? *"/>
    <add key="ServiceDescription" value="Logging Scheduler"/>
    <add key="ServiceDisplayName" value="LoggingScheduler"/>
    <add key="ServiceName" value="LoggingScheduler"/>
  </appSettings>
</configuration>